#div1 {
    display: inline-block;
    
    /* border: 1px solid red; */
}
#div2 {
    display: inline-block;
    /* border: 1px solid green; */
}

#div3 {
    display: inline-block;
    
    /* border: 1px solid red; */
}
#div4 {
    display: inline-block;
    /* border: 1px solid green; */
}